/* Basic reset and default Styles */

/* Using '*' selects every element */
*,
*::before,
*::after {
    box-sizing: border-box; /* Makes the width easier to work with */
    margin: 0; /* Removes browser default spacing so you have full control */
    padding: 0;
}

/* BASE STYLES */

body {
    font-family: 'Signika';
    background-color: #f5f7fb; /* color: #ffffff; */
    line-height: 1.6;
}

img { /* Targets every image on the Wesbite */
    max-width: 100%; /* Prevents image overflowing from out of container */
    display: block; /* Allows margin/padding around the image */
}

a { /* Controls appearance of hyperlinks */
    text-decoration: none; /* Removes default blue underline on links */
    color: inherit; /* Link uses same colour as parent element */
}

ul {
    list-style: none; /* Removes default bullets */
}

.container {
    width: min(1200px, 100% - 32px); /* Sets maximum width of content, has consistent padding */
    margin-inline: auto; /* Centres .container horizontally */
}