/* Basic reset and default Styles */

/* Using '*' selects every element */

*, *::before, *::after {
  box-sizing: border-box; /* This makes the width easier to work with */
  margin: 0; /* This removes browser default spacing so you have full control */
  padding: 0;
}

/* BASE STYLES */

body {
  font-family: 'Signika';
  background-color: #f5f7fb;
  /* color: #ffffff; */
  line-height: 1.6;
}

img { /* This targets every image on the Wesbite */
  max-width: 100%; /* This prevents the image overflowing from out of the container */
  display: block; /* This allows margin/padding around the image */
}

a { /* This controls appearance of the hyperlinks */
  text-decoration: none; /* This removes the default blue underline on the links */
  color: inherit; /* This link uses same colour as parent element */
}

ul {
  list-style: none; /* This removes the default bullets */
}

.container {
  width: min(1200px, 100% - 2rem); /* This sets maximum width of content, has consistent padding */
  margin-inline: auto; /* This centres .container horizontally */
}


/* HEADER & NAVBAR SECTION */

.main-header {
  background-color: #03315b;
  color: #ffffff; /* This sets the default text colour inside the Header to white */
  border-bottom-style: solid;
  border-bottom-color: #085296;
  border-bottom-width: 15px
}

.nav-container {
  display: flex; /* This turns the container into a flexbox row, allowing logo, nav, and icons to sit horizontally */
  align-items: center; 
  justify-content: space-between; /* This pushes the Logo to the far left, Icons to the far right. Nav Menu in the middle: Creating a 3-Part Layout */
  padding: 12px 0; /* This adds vertical spacing */
  gap: 32px; /* This adds space between the 3 Sections inside the Nav */
}

.logo {
  display: flex; /* This places the Logo and Text side by side */
  align-items: center; 
  gap: 9.6px; /* This adds space between Logo and Tecci Text */
  text-transform: uppercase;
  font-weight: 700;
  font-size: 40px;
}

.logo img {
  height: 44px;
}

.main-nav ul {
  display: flex; /* This turns <ul> into a Horizontal Row */
  align-items: center;
  gap: 24px; /* This controls spacing between each Menu Item */
  font-size: 18px;
}

.main-nav a {
  position: relative; /* This lets the ::after element (used to create a custom animated underline) be positioned relative to the link */
  padding-bottom: 1.6px; /* This ensures space for the underline animation */
}

.main-nav a::after {
  content: ""; /* This is required to create a pseudo element */
  position: absolute; /* This positions the underline relative to the link */
  left: 0;
  bottom: -4px; /* This places the underline slightly below the text */
  width: 0; /* This starts with a width of 0, making it initially invisible */
  height: 2px; /* This is for the thickness of underline */
  background-color: #e6f3ff;
  transition: width 0.2s ease; /* This animates the underline growing on the hover */
}

.main-nav a:hover::after, /* On Hover: The underline expands to full width */
.main-nav a.active::after { /* On the active Page (Home): The underline is always shown */
  width: 100%;
}

.nav-icons {
  display: flex; /* This lays out Icons horizontally */
  align-items: center;
  gap: 16px;
  font-size: 19px;
}

.nav-icons a {
  padding: 2.4px;
  transition: transform 0.15s ease, color 0.15s ease;
}

.nav-icons a:hover {
  transform: translateY(-1px); /* This moves the Icon 1px upwards, giving it a modern lift effect */
  color: #e6f3ff;
}


/* FOOTER SECTION */

.site-footer {
  background-color: #03315b;
  color: #ffffff; /* This sets the default colour inside the Footer to white */
  padding-top: 40px; /* This adds space to the top so the content is not stuck to the edge */
}

.footer-inner {
  display: grid; /* This enables CCS Grid Layout */
  grid-template-columns: 2fr 1.5fr 1.8fr; /* This creates 3 columns with different relative widths: First Column is 2 fractions, Second Column is 1.5 fractions. Third Column is 1.8 fractions */
  gap: 40px; /* Space between the columns */
  padding-bottom: 32px; /* This adds space below the columns, before the copyright bar */
}

.footer-col h3,
.footer-col h4 {
  margin-bottom: 14px; /* This adds space from under the Headings to seperate them from the content */
}

.footer-col p {
  font-size: 14px;
  color: #ffffff;
}

.footer-col ul {
  display: flex; /* This turns the UL into a flex container */
  flex-direction: column; /* This aligns the list items vertically */
  gap: 6px; /* This adds vertical spacing between list items */
}

.footer-col a {
  font-size: 14px; 
  color: #ffffff;
  transition: color 0.15s ease; /* This adds a colour transition when hovering */
}

.footer-col a:hover {
  color: #dae6f2; /* When hovering, it becomes this colour */
}

.contact-list li {
  display: flex; /* This places Icons and text in a row */
  align-items: center; /* This vertically aligns Icon and text */
  gap: 8px; /* Space between Icon and text */
  font-size: 14px;
  color: #ffffff;
}

.contact-list i {
  font-size: 16px; /* This makes sure that each Icon is a consistent size */
}

.footer-bottom {
  border-top: 1px solid rgba(255, 255, 255, 0.12);
  padding: 14px 0 19px; /* Gives the text some space */
  text-align: center;
  font-size: 13px;
  color: #ffffff;
}




